// cardsWidget

.cardsWidget {
	span, p{
		margin:0px;
		padding:0px;
	}

}


	#yellowHome {
		position:absolute;
		top:;
		left:1px;
		background-color:red;
	}

	#redHome {
		position:absolute;
		display:block;
		top:px;
		left:10px;
		background-color:blue;
	}

	#yellowAway {
		position:absolute;	
		left:50px;
		background-color:green;
	}

	#redAway {
		position:absolute;
		left:60px;
		background-color:yellow;
	}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}