.cardsWidget
	<div class="home">
	span#yellowHome(v-html="visibleEntry.props.yellowHome")
	span#redHome(v-html="visibleEntry.props.redHome")
	</div>
	<div class="away">
	span#yellowAway(v-html="visibleEntry.props.yellowAway")
	span#redAway(v-html="visibleEntry.props.redAway")
	</div>